.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  background-color: #28dec7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

.contenedor-filtros {
  display: flex;
  height: 50px;
  background-color: #3d97f0;
  justify-content: space-evenly;
  align-items: center;
 }

#desde {
  height: 25px;
  cursor: pointer;
  border: solid 1px black;
}

#hasta {
  height: 25px;
  cursor: pointer;
  border: solid 1px black;
}

#seleccionar-paises {
  display: flex;
  height: 25px;
  cursor: pointer;
  border: solid 1px black;
}

#precios {
display: flex;
height: 25px;
cursor: pointer;
border: solid 1px black;
}

#tamaños-habitaciones{
  display: flex;
  height: 25px;
  cursor: pointer;
  border: solid 1px black;
}

.boton-eliminar-filtro {
background-color: red;
height: 50%;
width: 10%;
font-weight: bold;
}

.grilla {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  }

  .banner{
    width: 50%;
 }

.hotel-contenedor {
  width: 30%;
  height: 100%;
  border: solid 1px #f1f9f8;
  box-shadow: 5px 3px 5px 0px rgba(201, 201, 201, 0.86);
  margin-bottom: 30px;
}

.imagen-contenedor {
  width: 100%;
}

img {
  width: 100%;
}

.contenedor-parteinferior{
  height: 100%;
}

.hotel-descripcion {
  font-weight: lighter;
  text-align: center;
  line-height: 140%;
  }

.contenedor-habitaciones-precio {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor-precio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 30px;
  width: 20%;
  height: 35px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3d97f0;
}

.icono-pesos-blanco {
  color: white;
}

.icono-pesos-gris {
  color: gray;
}

.contenedor-habitaciones-icono {
  display: flex;
  width: 70%;
  height: 40px;
  margin: 10px;
}

.contenedor-icono-cama {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #3d97f0;
}

.icono-cama {
  color: white;
}

.contenedor-habitaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f4f8f8;
}

.contenedor-ciudad-icono {
  display: flex;
  padding: 10px;
  width: 100%;
  height: 40px;
}

.contenedor-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #3d97f0;
}

.icono-de-lugar {
  color: white;
}

.contenedor-ciudad-pais {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f4f8f8;
}

.ciudad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.contenedor-reservar {
  width: 100%;
  height: 60px;
}

.boton-reservar {
  width: 100%;
  height: 100%;
  background-color: #6fe6cf;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 800px) and (min-width:651px) {
  .hotel-contenedor {
    width: 45%;
    height: 100%;
   }
  
   .boton-eliminar-filtro {
     height: 70%;
   }
   
}
@media only screen and (max-width: 650px) {
  .grilla {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .hotel-contenedor {
    width: 100%;
  }

  .boton-eliminar-filtro {
    height: 70%;
  }
}
